.sidebar {
    display: flex;
    flex: 0.35  ;
    height: 100vh;    
    background-color: #33363d;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;        
        background-color: #1a1c20;
        padding: 7px 15px;

        .serverIcon {
            width: 60px;
            height: 60px;
            background-color: #33363d;
            border-radius: 9999px;
            margin-bottom: 10px;
            position: relative;
            margin-top: 7px;

            img {
                position: absolute;
                width: 50px;
                top: 50%;
                left: 50;
                transform: translate(-50%, -50%);
            }
        }
    }

    .sidebarRight {
        background-color: #2b2d33;
        width: 300px;
        position: relative;

        .sidebarTop {
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }

        .sidebarChannels {
            padding: 13px;
        }

        .sidebarChannelsHeader {
            color: white;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            align-items: center;

            .sidebarHeader {
                display: flex;
            }

            .sidebarAddIcon {
                cursor: pointer;
            }
        }

        .sidebarFooter {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 93%;
            padding-bottom: 10px;
            border-top: 1px solid#686a6e;
            padding-top: 10px;
            margin-left: -3px;

            .sidebarAccount {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    border-radius: 80%;
                }
                .accountName {
                    margin-left: 5px;

                    h4 {
                        color: white;
                        font-weight: 500;
                    }

                    span {
                        color: #686a6e;
                    }
                }
            }

            .sidebarVoice {
                display: flex;
                align-items: center;
                color: #686a6e;
            }
        }

    }
}